p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 656px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-hero {
  padding: 118px 60px 198px 60px;
}
@media screen and (min-width: 768px) {
  .section-hero {
    padding: 118px 204px 198px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-bottom: 200px;
    padding-top: 200px;
    width: 1600px;
    margin: 0 auto;
  }
}

.section-work {
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scaleY(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .svg {
  fill: #2196F3;
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: #2196F3;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon, .modal-input:hover + .modal-input-icon {
  fill: #2196F3;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input-bottom {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-bottom:focus, .modal-input-bottom:hover {
  border-color: #2196F3;
}

.modal-input-bottom::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-bottom:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-bottom::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.checkbox {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.checkbox-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.checkbox-box {
  display: flex;
  margin-left: 8px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 114px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188CE8;
}

.checkbox-text {
  background-color: #2196F3;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  outline: none;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.logo {
  padding: 16px 0;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03;
  color: #000;
}

.navigation__logo {
  margin-right: 93px;
}

.logo__item {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .category__link {
    position: relative;
    display: block;
    padding: 32px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.category__header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navigation {
    border-bottom: 1px solid #ececec;
  }
}

.header__connect {
  margin-left: 218px;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .category {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .category {
    display: flex;
    margin-left: 88px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .category__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .category {
    margin-left: 92px;
  }
}

@media screen and (min-width: 768px) {
  .connect {
    margin: 0;
    margin-left: 96px;
    padding: 0;
    list-style: none;
  }
}

@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
  }
}

.connect__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__mail:hover, .connect__mail:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 768px) {
  .connect__mail {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .connect__tel {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .connect__mail:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .connect__mail .connect__tel:not(:last-child) {
    margin-right: 30px;
  }
}

.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__tel:hover, .connect__tel:focus {
  color: #2196f3;
  fill: #2196f3;
}

.connect__icon {
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__tel:hover .connect__icon, .connect__tel:focus .connect__icon {
  fill: #2196f3;
}
.connect__mail:hover .connect__icon, .connect__mail:focus .connect__icon {
  fill: #2196f3;
}

.current {
  color: #2196f3;
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.mob-container {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  transform: translateX(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-top: 64px;
  padding-left: 0;
  list-style: none;
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.mob-container .menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-btn {
  margin-left: auto;
  min-height: 40px;
  min-width: 40px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mob-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.mob-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link.current {
  color: #2196f3;
}

.mob-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-decoration: none;
  color: #212121;
}

.mob-contact {
  padding-left: 0;
  list-style: none;
  margin-top: auto;
}

.mob-contact-item.mobile__authentication-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-decoration: none;
  color: #2196f3;
}

.mob-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #757575;
}

.mob-container.is-open {
  transform: translateX(0);
}

.hero_container {
  padding: 0;
  width: 100%;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  border: none;
  border-radius: 4px;
}

.hero-button {
  padding-right: 492px;
  padding-left: 492px;
}

.hero-btn {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.picture__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about__picture {
  margin-bottom: 10px;
}

.picture__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.picture__text {
  width: 270;
  height: 72;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture__item-1 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .picture__item-1 {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .picture__item-1 {
    width: calc((100% - 90px) / 4);
  }
}

.picture__item-2 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .picture__item-2 {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .picture__item-2 {
    width: calc((100% - 90px) / 4);
  }
}

.picture__item-3 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .picture__item-3 {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .picture__item-3 {
    width: calc((100% - 90px) / 4);
  }
}

.picture__item-4 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .picture__item-4 {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .picture__item-4 {
    width: calc((100% - 90px) / 4);
  }
}

.picture__soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 10opx;
}

.about__soc-icon {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 10opx;
}

.picture__icon {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
}

.about__icon {
  margin-bottom: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.card {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card__item {
  position: relative;
}

.card__heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__card {
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: #f5f4fa;
}

.team-link {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-link {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-link {
    width: calc((100% - 90px) / 4);
  }
}

.team-img {
  margin-bottom: 30px;
}

.team-top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-content {
  padding-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196F3;
}

.team-soc-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: #FFFFFF;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.client-item {
  height: 92px;
  width: 100%;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: #2196f3;
}

.client-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-link {
    display: flex;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
}

.address-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.foter {
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .foter {
    display: flex;
    justify-content: space-between;
  }
}

.footer-soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc {
  margin-top: 60px;
}

.footer-soc-link {
  display: flex;
}

.footer-soc-list {
  gap: 10px;
}

.footer-soc-icon {
  fill: #FFFFFF;
}

.footer-address {
  text-align: center;
  margin-top: 20px;
  font-style: normal;
}

.footer-mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background: none;
}

.footer-btn svg {
  margin-left: 10px;
}

.svg {
  padding-top: 13px;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #ffdead;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer-box {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    display: block;
    margin-left: 0;
    margin-right: 80px;
    justify-content: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-soc {
    margin-right: 90px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-soc-title {
    text-align: left;
  }
}

.menu-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.menu-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.menu-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover, .menu-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.menu-text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover .menu-text-box {
  transform: translateY(0);
}

.box {
  position: relative;
  overflow: hidden;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */