.team {
  background-color: #f5f4fa;
}
.team-link {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team-img {
  margin-bottom: 30px;
}

.team-top-title {
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}

.team-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.team-content {
  padding-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}



.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196F3;
  }
}

.team-soc-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .team-soc-link:hover &,
  .team-soc-link:focus & {
    fill: #FFFFFF;
  }
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}